<%- include('partials/Header') %>

<!-- Section: Footer -->
<section class="mb-4">
    <div class="card">
      <div class="card-header py-3 bg-success">
        <h5 class="mb-0 text-center text-white"><strong>EDIT</strong></h5>
      </div>
    </div>
  </section>

  <form action="/edit/<%= request._id %>" method="post">

    <!-- Section: form -->
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Sale-Person</span>
      <input type="text" class="form-control" aria-label="salePerson" name="salePerson" aria-describedby="basic-addon1" value="<%= request.salePerson %>"/>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">E-mail</span>
      <input type="email" class="form-control" aria-label="email" name="email" aria-describedby="basic-addon2" value="<%= request.email %>"/>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Mobile</span>
      <input type="tel" class="form-control" aria-label="mobile" name="mobile" aria-describedby="basic-addon2" value="<%= request.mobile %>"/>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Request Date</span>
      <input type="date" class="form-control" aria-label="createDate" name="createDate" aria-describedby="basic-addon3" value="<%= request.createDate %>"/>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4">School Name</span>
      <input type="text" class="form-control" aria-label="schoolName" name="schoolName" aria-describedby="basic-addon4" value="<%= request.schoolName %>"/>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon7">LIC No</span>
      <input type="number" class="form-control" aria-label="licNo" name="licNo" aria-describedby="basic-addon7" value="<%= request.licNo %>"/>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon5">Build Type</span>
      <select name="buildType" aria-describedby="basic-addon5" class="form-control" >
        <% if(request.buildType === 'LAN'){ %>
            <option value="LAN" selected>LAN</option>
            <option value="Standalone">Standalone</option>
        <% }else{ %>
            <option value="LAN">LAN</option>
            <option value="Standalone" selected>Standalone</option>
        <% } %>
        
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon6">Status</span>
      <select name="status" aria-describedby="basic-addon6" class="form-control" >
        <% if(request.status === 'Complete'){ %>
            <option value="Complete" selected>Complete</option>
            <option value="Pending">Pending</option>
        <% }else{ %>
            <option value="Complete" >Complete</option>
            <option value="Pending" selected>Pending</option>
        <% } %>
        
      </select>
    </div>
    
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon8">Title</span>
      <input type="text" class="form-control" aria-label="titles" name="titles" aria-describedby="basic-addon8" value="<%= request.titles %>"/>
    </div>
    <div class="input-group mb-3">
      <input type="submit" class="form-control btn btn-success" name="submit" value="Submit" />
    </div>
  </form>
  
  
  

<%- include('partials/Footer') %>