<%- include('partials/Header') %>

<!-- Section: Main head -->
<section class="mb-4">
    <div class="card">
      <div class="card-header py-3 bg-success">
        <h5 class="mb-0 text-center text-white"><strong><%= status %> Offline Resources [Total: <%= requests.length %>]</strong></h5>
      </div>
    </div>
  </section>
  <!-- Section: Main head -->

  <!-- Sales Performance -->
  <%- include('Table') %>

<%- include('partials/Footer') %>