<!--Section: Sales Performance Start-->
<section class="mb-4">
    <div class="card">
      <div class="card-header text-center py-3">
        <h5 class="mb-0 text-center">
          <strong>Sales Performance</strong>
        </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Sale-Person</th>
                <th scope="col">School</th>
                <th scope="col">Build-Type</th>
                <th scope="col">Status</th>
                <th scope="col">Lic No</th>
                <th scope="col">Request Date</th>
                <% if(userAccess === 'admin'){ %>
                  <th scope="col">Edit</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% if(requests.length === 0){ %>
                <tr align="center">
                  <td colspan="7"><strong style="color:red">No Pending Requests.</strong></td>
                </tr>
              <% }else{ %>
              <% let count = 1 %>
              <% for(let i = 0; i < 10; i++){ %>
                <tr>
                  <% if(i === requests.length){ %>
                    <% break; %>
                  <% } %>
                  <td><%= count++ %></td>
                  <td><a class="text-primry" href="/salePerson/<%= requests[i]._id %>"><strong><%= requests[i].salePerson.name %></strong></a></td>
                  <td><a class="text-secondary" href="/school/<%= requests[i]._id %>"><strong><%= requests[i].school.name %></strong></a></td>
                  <td><%= requests[i].buildType %></td>
                  <% if(requests[i].status === 'Complete'){ %>
                    <td class="text-success"><strong><%= requests[i].status %></strong></td>
                  <% }else{ %>
                    <td class="text-danger"><strong><%= requests[i].status %></strong></td>
                  <% } %>
                  
                  <td><%= requests[i].licNo %></td>
                  <td><%= requests[i].createDate %></td>
                  <% if(userAccess === 'admin'){ %>
                    <td><a class="btn btn-warning" href="/edit/<%= requests[i]._id %>">Edit</a></td>
                  <% } %>
                </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
          
          <!-- Pagination Code Start -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link">PAGE:</a>
              </li>
              <% for(let i = 1; i <= Math.ceil(requests.length/10); i++){ %>
                <li class="page-item"><a class="page-link" href="/page/<%= i %>"><%= i %></a></li>
              <% } %>
            </ul>
          </nav>
          <!-- Pagination Code END -->
        </div>
      </div>
    </div>
  </section>
  <!--Section: Sales Performance End -->