<%- include('../partials/Header') %>
<%- include('../partials/Menu') %>

<!--Section: Sales Performance KPIs-->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3 bg-success text-white">
      <h5 class="mb-0 text-center">
        <strong><%= title %></strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Sale-Person</th>
                <th scope="col">School</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Mobile</th>
              </tr>
            </thead>
            <tbody>
              <% let count = 1 %>
            <% requests.forEach((request)=>{ %>
              <tr>
                <td><%= count++ %></td>
                <td><%= request.salePerson.name %></td>
                <td><%= request.school.name %></td>
                <td><%= request.salePerson.email %></a></td>
                <td><%= request.salePerson.mobile %></td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        

      </div>
    </div>
  </div>
</section>
<!--Section: Sales Performance KPIs-->

<%- include('../partials/Footer') %>