<%- include('../partials/Header') %>

<!--Section: Sales Performance KPIs-->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3 bg-success text-white">
      <h5 class="mb-0 text-center">
        <strong><%= title %>[ Total = <%= requests.length %> ]</strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Sales-person</th>
              <th scope="col">School</th>
              <th scope="col">Titles</th>
              <th scope="col">LIC No</th>
              <th scope="col">State</th>
            </tr>
          </thead>
          <tbody>
            <% let count = 1 %>
            <% requests.forEach((request)=>{ %>
              <tr>
                <td><%= count++ %></td>
                <td><a class="text-primry" href="/salePerson/<%= request._id %>"><strong><%= request.salePerson.name %></strong></a></td>
                <td><%= request.school.name %></td>
                <% const titlesArray = request.titles.split(',') %>
                <td><ol>
                  <% titlesArray.forEach((title)=>{ %>
                    <li><%= title %></li>
                  <% }) %>
                  </ol></td>
                <td><%= request.licNo %></td>
                <td><%= request.school.state %></td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        

      </div>
    </div>
  </div>
</section>
<!--Section: Sales Performance KPIs-->

<%- include('../partials/Footer') %>