<%- include('../partials/Header') %>
<%- include('../partials/Menu') %>

<!--Section: Sales Performance KPIs-->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3 bg-success text-white">
      <h5 class="mb-0 text-center">
        <strong><%= title %>[ Total = <%= requests.length %> ]</strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Sales-person</th>
              <th scope="col">School</th>
              <th scope="col">Titles</th>
              <th scope="col">Type</th>
              <th scope="col">LIC No</th>
              <th scope="col">State</th>
              <th scope="col">Request No</th>
            </tr>
          </thead>
          <tbody>
            <% let count = min %>
            <% for(let i = min; i < max; i++){ %>
              <tr>
                <% if(i === totalNo){ %>
                  <% break; %>
                <% } %>
                <td><%= count++ %></td>
                <td><a class="text-primry" href="/salePerson/<%= requests[i]._id %>"><strong><%= requests[i].salePerson.name %></strong></a></td>
                <td><%= requests[i].school.name %></td>
                <% const titlesArray = requests[i].titles.split(',') %>
                <td><ol>
                  <% titlesArray.forEach((title)=>{ %>
                    <li><%= title %></li>
                  <% }) %>
                  </ol></td>
                <td><%= requests[i].buildType %></td>
                <td><%= requests[i].licNo %></td>
                <td><%= requests[i].school.state %></td>
                <td><%= requests[i].createDate %></td>
                <% if(userAccess === 'admin'){ %>
                  <td><a class="btn btn-warning" href="/edit/<%= requests[i]._id %>">Edit</a></td>
                <% } %>
              </tr>
              <% } %>
          </tbody>
        </table>
        
        <% if(pagination === 'yes'){ %>
          <!-- Pagination Code Start -->
         <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link">PAGE:</a>
            </li>
            <% for(let i = 1; i <= Math.ceil(requests.length/10); i++){ %>
              <li class="page-item"><a class="page-link" href="/page/<%= i %>"><%= i %></a></li>
            <% } %>
          </ul>
        </nav>
        <!-- Pagination Code END -->
        <% } %>
         

      </div>
    </div>
  </div>
</section>
<!--Section: Sales Performance KPIs-->

<%- include('../partials/Footer') %>